@import '@styles/theme.scss';

// Your style here

.container {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title  {
  font-size: 12px;
  color: var(--color);
  width: 100%;
  text-align: left;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
